.generated-images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.img-container {
  position: relative;
}

.img-container img {
  width: 100%;
  max-width: 420px;
  display: block;
}

@media only screen and (min-width: 760px) {
  .generated-images {
    flex-flow: wrap;
  }

  .img-container {
    display: grid;
    grid-template-rows: 0.5fr 0.5fr;
    position: relative;
    max-width: 300px;
    margin: 2%;
  }

  .img-container img {
    grid-row: 1/3;
  }
}