.contact-container {
  text-align: left;
  margin: 0 5%;
  margin-bottom: 15vh;
}

.contact-header {
  font-size: 2.2em;
  margin: 8% auto;
  margin-top: 10%;
}

.contact-hr {
  margin: 25px 0;
  border-style: solid;
  border-color: rgb(156, 161, 182);
}

.social-link a {
  display: inline-block;
  margin: 1% auto;
  margin-left: 6px;
  color: rgb(65, 70, 90);
}

.bus-inc {
  width: 100%;
  display: inline-block;
  margin: 1% auto;
  color: rgb(65, 70, 90);
}

@media only screen and (min-width: 768px) {
  .contact-container {
    max-width: 1040px;
    margin: auto;
    margin-bottom: 4vh;
  }
  .contact-header {
    font-size: 2.2em;
    margin: 4% auto;
  }
  .contact-sub-head {
    font-size: 1.5em;
    margin: 2% auto;
  }
}