.contact-container {
  text-align: center;
  margin: 0 5%;
  margin-bottom: 15vh;
}

.contact-header {
  font-size: 3em;
  margin: 8% auto;
  margin-top: 10%;
}

.contact-hr {
  margin: 25px 0;
  border-style: solid;
  border-color: rgb(156, 161, 182);
}

.contact-container a {
  display: inline-block;
  width: 100%;
  margin: 1% auto;
  color: rgb(65, 70, 90);
}

@media only screen and (min-width: 768px) {
  .contact-container {
    margin: 0 25%;
  }
  .contact-header {
    font-size: 3em;
    margin: 4% auto;
  }
  .contact-sub-head {
    font-size: 1.5em;
    margin: 2% auto;
  }
}