.add-to-cart {
  font-family: inherit;
  color: rgb(36, 39, 39);
  background-color: inherit;
  border: 1px solid rgb(153, 159, 161);
  font-size: 12pt;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 180px;
  min-height: 40px;
}

.add-cart-disabled {
  pointer-events: none;
  border: 1px solid rgb(211, 216, 218);
  color: rgb(122, 131, 131);
}

@media only screen and (min-width: 768px) {
  .add-to-cart {
    cursor: pointer;
  }
  .add-to-cart:hover {
    background-color: rgb(241, 251, 255);
  }
}