.main-header-nav {
  padding: 0px 5%;
}

.main-header-nav h1 {
  grid-column: 1/4;
  grid-row: 1/2;
  display: block;
  margin: auto;
  max-width: 380px;
}

.main-header-nav h1 img {
  width: 100%;
}

.main-header-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-header-nav ul li {
  display: inline-block;
  text-align: center;
  font-size: 0.8em;
  font-weight: 500;
}

.main-header-nav ul li a {
  text-decoration: none;
  color: inherit;
}

@media only screen and (min-width: 760px) {
  .main-header-nav {
    max-width: 1032px;
    margin: auto;
    padding: 0px 32px;
  }
  .main-header-nav h1 {
    grid-column: 2/3;
    grid-row: 1/2;
    display: block;
    max-width: 300px;
    margin-left: -36px;
    margin-bottom: -10px;
  }

  .main-header-nav ul li {
    font-size: 1.1em;
  }

  .main-header-nav ul li a:hover {
    opacity: 0.65;
  }
}